############################
# OS
############################
.DS_Store
Thumbs.db

############################
# IntelliJ IDEA
############################
.idea/
*.iml
*.iws
*.ipr
out/

############################
# Eclipse (혹시 사용할 경우)
############################
.project
.classpath
.settings/

############################
# VSCode
############################
.vscode/

############################
# Gradle
############################
.gradle/
build/

############################
# Maven
############################
target/

############################
# Compiled class files
############################
*.class

############################
# Logs
############################
*.log

############################
# Package files
############################
*.jar
*.war
*.ear
*.nar

############################
# JVM crash logs
############################
hs_err_pid*
replay_pid*

############################
# Environment files
############################
.env
.env.local

############################
# Mac temp
############################
*.swp